[submodule "References/third-party/sodium"]
	path = References/third-party/sodium
	url = https://github.com/CaffeineMC/sodium.git
[submodule "References/third-party/lithium"]
	path = References/third-party/lithium
	url = https://github.com/CaffeineMC/lithium.git
[submodule "References/third-party/ferritecore"]
	path = References/third-party/ferritecore
	url = https://github.com/malte0811/FerriteCore.git
[submodule "References/third-party/immediatelyfast"]
	path = References/third-party/immediatelyfast
	url = https://github.com/RaphiMC/ImmediatelyFast.git
[submodule "References/third-party/entityculling"]
	path = References/third-party/entityculling
	url = https://github.com/tr7zw/EntityCulling.git
